body {
  background-color: lightgrey;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  color: blueviolet;
  text-align: left; }

a:link, a:visited {
  color: white;
  background-color: #f44336;
  padding: 1em 1.5em;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

a:hover, a:active {
  background-color: lightcoral; }
